body {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.navbar-brand {
  font-weight: bold;
}

.section-content {
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  min-height: 1000px; /* чтобы вызвать прокрутку */
  padding: 30px;
}
